@*
*@
@{
}
@model ViewBurialViewModel

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
   <h1 class="mt-4 mb-3">@Model.BurialSite.NS @Model.BurialSite.Nstop/@Model.BurialSite.Nsbottom @Model.BurialSite.EW @Model.BurialSite.Ewtop/@Model.BurialSite.Ewbottom #@Model.Burial.BurialNumber</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Home Page</li>
    </ol>

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <button type="submit" class="btn button1 right btn-Dark" onclick="location.href='@Url.Action("EditMummy", "Home", Model)'">Edit &rarr;</button>


            <hr>
            <!-- Date/Time -->
            <p>Posted on XXXX</p>
            <hr>

            <!-- Post Content -->
            <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Burial Site Location: </a>
                        </h5>
                    </div>




                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <p>Gamous ID: @Model.Burial.Gamous</p>
                            <p>Burial Site ID: @Model.Burial.BurialSiteId</p>
                            <p>Burial Number: @Model.Burial.BurialNumber</p>
                            <p>West to Head: @Model.Burial.Burialwesttohead</p>
                            <p>West to Feet: @Model.Burial.Burialwesttofeet</p>
                            <p>South to Head: @Model.Burial.Burialsouthtohead</p>
                            <p>South to Feet: @Model.Burial.Burialsouthtofeet</p>
                            <p>Burial Depth: @Model.Burial.Burialdepth</p>
                            <p>Burial Direction: @Model.Burial.BurialDirection</p>
                            <p>Osteology Notes: @Model.Burial.OsteologyNotes</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Burial Info
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <p>Burial Preservation: @Model.Burial.Burialpreservation</p>
                            <p>Goods: @Model.Burial.Goods</p>
                            <p>Burial Wrapping: @Model.Burial.Burialwrapping</p>
                            <p>Burial Adult Child: @Model.Burial.Burialadultchild</p>
                            <p>Burial Age Method: @Model.Burial.Burialagemethod</p>
                            <p>Burial Age at Death: @Model.Burial.Burialageatdeath</p>
                            <p>Burial Sample Taken: @Model.Burial.Burialsampletaken</p>
                            <p>Length (M): @Model.Burial.LengthM</p>
                            <p>Cluster: @Model.Burial.Cluster</p>
                            <p>Face Bundle: @Model.Burial.FaceBundle</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Skull Info</a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            <p>Skull at Magazine: @Model.Burial.SkullatMagazine</p>
                            <p>Skull Trauma: @Model.Burial.SkullTrauma</p>
                            <p>Cribra Orbitalia: @Model.Burial.CribraOrbitala</p>
                            <p>Porotic Hyperostosis: @Model.Burial.PoroticHyperostosis</p>
                            <p>Porotic Hyperostosis (LOCATIONS): @Model.Burial.PoroticHyperostosisLocations</p>
                            <p>Metopic Suture: @Model.Burial.MetopicSuture</p>
                            <p>Button Osteoma: @Model.Burial.ButtonOsteoma</p>
                            <p>Temporomandibular Joint Osteoarthritis (TMJ OA): @Model.Burial.TemporalMandibularJointOsteoarthritisTmjoa</p>
                            <p>Linear Hypoplasia Enamel: @Model.Burial.LinearHypoplasiaEnamel</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Body Info</a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="card-body">
                            <p>Length: @Model.Burial.Length</p>
                            <p>Age Code SINGLE: @Model.Burial.AgeCodeSingle</p>
                            <p>Body Analysis: @Model.Burial.BodyAnalysis</p>
                            <p>Postcrania at Magazine: @Model.Burial.PostcraniaatMagazine</p>
                            <p>Sex (Skull; 2018): @Model.Burial.SexSkull2018</p>
                            <p>Age (Skull; 2018): @Model.Burial.AgeSkull2018</p>
                            <p>Postcrania Trauma: @Model.Burial.PostcraniaTrauma</p>
                            <p>Gender Code: @Model.Burial.GenderCode</p>
                            <p>Hair Color Code: @Model.Burial.HairColorCode</p>
                            <p>Burial Gender Method: @Model.Burial.Burialgendermethod</p>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Dating Info</a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="card-body">
                            <p>Year on Skull: @Model.Burial.Yearonskull</p>
                            <p>Month on Skull: @Model.Burial.Monthonskull</p>
                            <p>Date on Skull: @Model.Burial.DateonSkull</p>
                            <p>Year Excavated: @Model.Burial.Yearexcav</p>
                            <p>Month Excavated: @Model.Burial.MonthExcavated</p>
                            <p>Date Excavated: @Model.Burial.DateExcavated</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingSix">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Other Notes</a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="card-body">
                            <p>Osteology Unknown Comment: @Model.Burial.Osteologyunknowncomment</p>
                            <p>Initals of Data Entry Expert: @Model.Burial.InitialsofDataEntryExpert</p>
                            <p>Initials of Data Entry Checker: @Model.Burial.InitialsofDataEntryChecker</p>
                            <p>BYU Sample: @Model.Burial.Byusample</p>
                            <p>Rack and Shelf: @Model.Burial.RackandShelf</p>
                            <p>TO BE CONFIRMED: @Model.Burial.Tobeconfirmed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="inpug-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">This</a>
                                </li>
                                <li>
                                    <a href="#">for</a>
                                </li>
                                <li>
                                    <a href="#">different</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">is</a>
                                </li>
                                <li>
                                    <a href="#">the</a>
                                </li>
                                <li>
                                    <a href="#">categories</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    Photo time!
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
